@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "input.css"; */

/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */

.flex::before,
.flex::after {
    display: none !important;
}

.input-error {
    @apply ring ring-red-600;
}

.input-primary{
    @apply focus:bg-form-bg bg-form-bg focus:outline-alerange focus:outline-none;
}

.input-primary-outliner {
    @apply bg-[#fff] focus:bg-[#fff] border-alerange;
    @apply file:bg-alerange file:text-white file:rounded-md file:p-2;
}




.btn-primary{
    @apply bg-alerange text-white;
}

.btn-warning {
    @apply bg-yellow-500 text-white;
}

.btn-danger {
    @apply bg-red-500 text-white;
}

.btn-light-outline{
    @apply text-white border border-white;
}

.btn-white-outline{
    @apply text-black border border-[#F1F1F1];
}






@layer components {
    [type="text"],
    [type="email"],
    [type="url"],
    [type="password"],
    [type="number"],
    [type="date"],
    [type="datetime-local"],
    [type="month"],
    [type="search"],
    [type="tel"],
    [type="time"],
    [type="week"],
    [multiple],
    textarea,
    select {
        border-color: transparent;
    }
    [type="text"]:focus,
    [type="email"]:focus,
    [type="url"]:focus,
    [type="password"]:focus,
    [type="number"]:focus,
    [type="date"]:focus,
    [type="datetime-local"]:focus,
    [type="month"]:focus,
    [type="search"]:focus,
    [type="tel"]:focus,
    [type="time"]:focus,
    [type="week"]:focus,
    [multiple]:focus,
    textarea:focus,
    select:focus {
        border-color: transparent;
        --tw-ring-color: transparent;
    }
}
